<% provide(:title, 'All users') %>
<h1>All users</h1>

<!-- ユーザーを設定した分だけ表示する、残りは次のページに表示, gem 'will_paginate' --> 
<%= will_paginate %>

<ul class="users">
	<!-- all -->
	<%= render @users %>
 
</ul>

<%= will_paginate %>