      <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "sample app",root_path, id: "logo" %>
        
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",root_path %></li>
            <!-- help_path → ルーティングの'/help' → static_pages#help → helpビュー表示 -->
            <li><%= link_to "Help",help_path %></li>

        <% if logged_in? %>
          <!-- ユーザー一覧,user_pathでなくusers_path -->
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <!-- current_user = user_path(current_user) -->
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <!-- method: :deleteはデフォルトのGetリクエストをDELETEに変更 -->
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>