<!DOCTYPE html>
<html>
  <head>
  
<!-- full_titleを呼び出す、yieldの引数には各ビューのprovide(:title ,"*")を受け取り設定 -->
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    
    <!-- views/layouts/_shim.html.erbを読み込む -->
     <%= render 'layouts/shim' %>
    
  </head>
  <body>
  
       <!-- views/layouts/_header.html.erbを読み込む -->
        <%= render 'layouts/header' %>
        
    <div class="container">

      <!-- flash,each内の|message_type => key:success message => valiu:"登録成功" -->
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

      <%= yield %>

      <!-- views/layouts/_footer.html.erbを読み込む -->
      <%= render 'layouts/footer' %>

      <%= debug(params) if Rails.env.development? %>
      
    </div>
    
  </body>
</html>
